@charset "UTF-8";

.tudo { 
	display: table; 
}

.menu { 
	float: left; 
	width: 30%; 
}

.center {
	text-align: center;
}

.conteudoSearchBar { 
	margin: 35px 0px 0px 15px !important;
}

.form-group { 
    margin-bottom: 8px !important; 
}

.space-top { 
	margin: 13px 0px 0px 0px !important;
}

.download {
	margin-bottom:10px;
}

.form-horizontal .form-group {
    /* margin-right: -15px; */
    margin-left: 0px;
    margin-right: 0px;
}