@charset "UTF-8";

center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}

.frame{
    background:#e0e0de;
}

.mbottom {
	margin-bottom: 20px;
}