@charset "UTF-8";

section#work .img-responsive{
    margin: 0 auto;
}

.center {
	text-align: center;
}

.form-groupImg { 
    margin-bottom: 30px !important; 
}

.form-groupPA { 
    margin-bottom: 8px !important; 
}

.padding-inside {
	padding: 30px;
}

.message {
	maxWidth:50%;
}

.form-horizontal .form-group {
    /* margin-right: -15px; */
    margin-left: 0px;
    margin-right: 0px;
}
