@charset "UTF-8";

.tudo { 
	display: table; 
}

.menu { 
	float: left; 
	width: 30%; 
}

.center {
	text-align: center;
}

.conteudoSearchBar { 
	margin: 35px 0px 0px 15px !important;
}

.form-group { 
    margin-bottom: 8px !important; 
}

.padding20 {
	PADDING: 20px;
}

.line-break {
    word-wrap: break-word;   
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: justify;
}

.form-horizontal .form-group {
    /* margin-right: -15px; */
    margin-left: 0px;
    margin-right: 0px;
}

.download {
	margin-bottom:10px;
}